<ion-header>
  <div id="modal" class="MenuModal">
    
    <div class="MenuModalContent">
      <div id="BtnClose" class="Btnclose">
        <p class="red font1">X</p>
      </div>
      <div class="InformationContact" id="Politic">
        <p class="font2" ><b>POLÍTICA DE PRIVACIDAD</b></p>
      </div>
      <div class="InformationContact" id="Contact">
        <p class="font2"><b>CONTÁCTANOS</b></p>
      </div>
      <div class="InformationContact" id="About">
        <p class="font2"><b>ACERCA DE APPLICATIONNAME</b></p>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="backgroundHome">
  <div class="flex flexAround">
    <h2>APPLICATION NAME</h2>
    <div id="BtnMenu" class="ImgMenu"></div>
  </div>
  <div class="flexCenter">
    <div class="card flex flexAround">
      <img class="ImgLogo" src="./../../../assets/icon/Logo.png">
      <div>
        <p>PROXIMA CITA: <label> 01 Enero 2024</label> </p>
        <p>HORARIO: <label> 16:00 (4:00 PM)</label> </p>
      </div>
    </div>
    <div class="card">
      <p class="flexJustifyCenter">DayNow</p>
      <ion-toolbar>
        <ion-segment [scrollable]="true" value="all">
          <ion-segment-button value="all">
            <ion-label>DESAYUNO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="favorites">
            <ion-label>ALMUERZO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="sdsd">
            <ion-label>COMIDA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="ffdf">
            <ion-label>MERIENDA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="wewew">
            <ion-label>CENA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="vcvcv">
            <ion-label>REGRIGERIO</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <div (click)="InformationRecipes()" class="MarginBotton">
        <div class="backgroundBlack">
          <h3 class="marginleft black">RECIPES NAME</h3>
        </div>
        <div>
          <img class="ImgRicepesCad" src="./../../../assets/icon/Portada.png">
        </div>
      </div>
    </div>
    
    <div class="card ">
      <p class="marginleft">EXTRAS</p>
      <div class="flexwrap">
        <div id="Information" class="margin2 flexCenter">
          <img class="ImgExtra" src="./../.././../assets/icon/Avatar.png">
          <p class="margin1">Information</p>
        </div>
        <div id="MenuDays" class="margin2 flexCenter">
          <img class="ImgExtra" src="./../.././../assets/icon/Avatar.png">
          <p class="margin1">Menus</p>
        </div>
        <div class="margin2 flexCenter">
          <img class="ImgExtra" src="./../.././../assets/icon/Avatar.png">
          <p class="margin1">Opcion3</p>
        </div>
        <div class="margin2 flexCenter">
          <img class="ImgExtra" src="./../.././../assets/icon/Avatar.png">
          <p class="margin1">Opcion4</p>
        </div>
      </div>
    </div>
  </div>
  
</div>

</ion-content>
