<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Menu de la semana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="FrontPage">
    <div class="backgroundBlack">
      <h3 class="marginleft">{{this.Recipes.Name}}</h3>
    </div>
    <div>
      <img class="ImgRicepesCad" src="./../../../assets/icon/Portada.png">
    </div>
  </div>
  <div>
    <ion-segment value="all">
      <ion-segment-button id="Carousel1" value="all">
        <ion-label >Ingredientes</ion-label>
      </ion-segment-button>
      <ion-segment-button id="Carousel2" value="procedure">
        <ion-label>Procedimiento</ion-label>
      </ion-segment-button>
      <ion-segment-button id="Carousel3" value="extra">
        <ion-label>Extra</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div id="Carousel" class="Carousel flex">
      <div  class="ContentCarousel">
        <p class="FontP">
          {{this.Recipes.Ingredinets}}
        </p>
      </div>
      <div class="ContentCarousel">
        <p class="FontP">
          {{this.Recipes.Procedure}}
        </p>
      </div>
      <div class="ContentCarousel">
        <h3>Informacion Nutrimental</h3>
        <div class="flexWrap ">
          <div class="margin1 flex radius padding">
            <img class="imgCircle"  src="./../../../assets/icon/fire.png">
            <div class="margin2 ">
              <p class="font1">Carbohidratos</p>
              <p class="font1"> {{this.Recipes.Carbohydrate}}g</p>
            </div>
          </div>
          <div class="margin1 flex radius padding">
            <img class="imgCircle"  src="./../../../assets/icon/arm.png">
            <div class="margin2">
              <p class="font1">Proteinas</p>
              <p class="font1">{{this.Recipes.Protein}}g</p>
            </div>
          </div>
          <div class="margin1 flex radius padding">
            <img class="imgCircle" src="./../../../assets/icon/fat.png">
            <div class="margin2">
              <p class="font1">Grasas</p>
              <p class="font1">{{this.Recipes.Fat}}g</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
  
</ion-content>
