<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="homeNutritionist"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="ContentPage" class="ContentPage">
    <div class="Page1">
      <div class="marginMain">
        <h1>Informacion Personal</h1>
        <div class="FlexInline Center">
          <img class="ImgPhoto" src="./../../../assets/icon/Logo.png">
          <div class="marginLeft">
            <h3>Agregar una foto (OPCIONAL)</h3>
            <ion-button shape="round">Tomar Foto</ion-button>
          </div>
        </div>
      </div>
      <div class="marginMain marginUpDown">
        <ion-input class="marginUpDown widthInputs" autocomplete="false" label="Nombres" label-placement="floating"
          fill="solid" placeholder="Ingrese Nombres"></ion-input>
        <ion-input class="marginUpDown widthInputs" autocomplete="false" label="Apellidos" label-placement="floating"
          fill="solid" placeholder="Ingrese Apellido paterno y materno"></ion-input>
        <ion-input class="marginUpDown widthInputs" autocomplete="false" label="Numero celular"
          labelPlacement="floating" [counter]="true" maxlength="10"></ion-input>
      </div>
      <div class="FlexCenter ">
        <ion-button id="BtnPage1" shape="round">Siguiente</ion-button>
      </div>
    </div>
    <div class="Page2">
      <div class="marginMain">
        <h2>Información Extra</h2>
        <div class="ContentInputInformationExtra">
          <div class="FlexInline widthDivInputsExtraInformation">
            <p>Objetivo: </p>
            <ion-input id="Object" class="widthInputsExtraInformation" type="number" autocomplete=false
              fill="solid"></ion-input>
          </div>
          <div class="FlexInline widthDivInputsExtraInformation">
            <p>Peso Actual: </p>
            <ion-input id="ActualWeight" class="widthInputsExtraInformation" type="number" autocomplete=false
              fill="solid"></ion-input>
          </div>
          <div class="FlexInline widthDivInputsExtraInformation">
            <p>Altura: </p>
            <ion-input id="Height" class="widthInputsExtraInformation" type="number" autocomplete=false
              fill="solid"></ion-input>
          </div>
          <div class="FlexInline widthDivInputsExtraInformation">
            <p>Cintura: </p>
            <ion-input id="Waist" class="widthInputsExtraInformation" type="number" autocomplete=false
              fill="solid"></ion-input>
          </div>
          <div class="FlexInline widthDivInputsExtraInformation">
            <p>Cadera: </p>
            <ion-input id="Hip" class="widthInputsExtraInformation" type="number" autocomplete=false
              fill="solid"></ion-input>
          </div>
          <div class="FlexInline widthDivInputsExtraInformation">
            <p>Brazos: </p>
            <ion-input id="Arms " class="widthInputsExtraInformation" type="number" autocomplete=false
              fill="solid"></ion-input>
          </div>
          <div class="FlexInline widthDivInputsExtraInformation">
            <p>Pechos: </p>
            <ion-input id="Breasts" class="widthInputsExtraInformation" type="number" autocomplete=false
              fill="solid"></ion-input>
          </div>
          <div class="FlexInline widthDivInputsExtraInformation">
            <p>Muslos: </p>
            <ion-input id="Thighs" class="widthInputsExtraInformation" type="number" autocomplete=false
              fill="solid"></ion-input>
          </div>
        </div>
      </div>
      <div class="FlexSpace marginUpDown">
        <ion-button id="BtnPage2" shape="round">Regresar</ion-button>
        <ion-button id="BtnPageSave" (click)="presentAlert()" shape="round">Guardar</ion-button>
      </div>
    </div>

  </div>

</ion-content>