<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="homeClient"></ion-back-button>
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="marginGraph">
    <canvas class="graph" #someInput2>{{char}}</canvas>
  </div>
  <div class="DivExtraInformation">
    <h3 class="h3Tittle">Información Extra</h3>
    <div class="MarginLeft ">
      <div class="flexBetween">
        <p>Objetivo</p>
        <p>{{Information.TargetWeight}}Kg</p>
      </div>
      <div class="flexBetween">
        <p>Peso Actual</p>
        <p>{{Information.ActualWeight}} Mts</p>
      </div>
      <div class="flexBetween">
        <p>Altura</p>
        <p>{{Information.Height}} Mts</p>
      </div>
      <div class="flexBetween">
        <p>Cintura</p>
        <p>{{Information.Waist}} Cm</p>
      </div>
      <div class="flexBetween">
        <p>Cadera</p>
        <p>{{Information.Hip}} Cm</p>
      </div>
      <div class="flexBetween">
        <p>Brazo</p>
        <p>{{Information.Arms}} Cm</p>
      </div>
      <div class="flexBetween">
        <p>Pecho</p>
        <p>{{Information.Chest}} Cm</p>
      </div>
      <div class="flexBetween">
        <p>Muslo</p>
        <p>{{Information.Thigh}} Cm</p>
      </div>
    </div>
  </div>
</ion-content>
