<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="homeNutritionist"></ion-back-button>
    </ion-buttons>
    <div class="header">
      <ion-title>InformationClient</ion-title>
      <img class="ImgMenu" id="BtnMenu" (click)="ShowMenu()" src="./../../../assets/icon/menu.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="MarginLeft" id="main">
    <h1>{{User.Name}}</h1>
    <h3>{{User.Phone}}</h3>
    <ion-button (click)="GoMenu()" class="BtnMenu">VER MENUS</ion-button>
  </div>
  
  <div class="marginGraph">
    <canvas class="graph" #someInput2>{{char}}</canvas>
  </div>
  <div class="DivExtraInformation">
    <h3 class="h3Tittle">Información Extra</h3>
    <div class="MarginLeft ">
      <div class="flexBetween">
        <p>Objetivo</p>
        <p>{{ExtraInformation.TargetWeight}}kg</p>
      </div>
      <div class="flexBetween">
        <p>Peso Actual</p>
        <p>{{ExtraInformation.ActualWeight}}kg</p>
      </div>
      <div class="flexBetween">
        <p>Altura</p>
        <p>{{ExtraInformation.Height}}</p>
      </div>
      <div class="flexBetween">
        <p>Cintura</p>
        <p>{{ExtraInformation.Waist}}</p>
      </div>
      <div class="flexBetween">
        <p>Cadera</p>
        <p>{{ExtraInformation.Hip}}</p>
      </div>
      <div class="flexBetween">
        <p>Brazo</p>
        <p>{{ExtraInformation.Arms}}</p>
      </div>
      <div class="flexBetween">
        <p>Pecho</p>
        <p>{{ExtraInformation.Chest}}</p>
      </div>
      <div class="flexBetween">
        <p>Muslo</p>
        <p>{{ExtraInformation.Thigh}}</p>
      </div>
    </div>
  </div>
</ion-content>
