.graph{
    width: 90%;
    height: 300px;
}
.DivExtraInformation{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 95%;
    background: #dddddd;
    display: flex;
    flex-direction: column;
    margin: 40px auto auto auto;
    padding-bottom: 30px;
}
.MarginLeft{
    margin: 0 20px;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
}
.h3Tittle{
    margin: 10px auto;
    color: black;
}
p{
    color: black;
}
.marginGraph{
    margin: 30px 0;
}
.AlingCenter{
    align-items: center;
    margin: 0 20px;
}
.ImgMenu{
    width: 30px;
}
.header{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
@media (prefers-color-scheme: dark){
    .DivExtraInformation{
        background: white;
    }
    ion-header{
        background: #757575;
    }
}