<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="homeNutritionist"></ion-back-button>
    </ion-buttons>
    <ion-title>InformationClient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="MarginLeft">
    <h1>Name Client</h1>
    <h3>452000000000</h3>
    <ion-button id="BtnMenu" class="BtnMenu">VER MENUS</ion-button>
  </div>
  
  <div class="marginGraph">
    <canvas class="graph" #someInput2>{{char}}</canvas>
  </div>
  <div class="DivExtraInformation">
    <h3 class="h3Tittle">Información Extra</h3>
    <div class="MarginLeft ">
      <div class="flexBetween">
        <p>Objetivo</p>
        <p>50kg</p>
      </div>
      <div class="flexBetween">
        <p>Peso Actual</p>
        <p>233</p>
      </div>
      <div class="flexBetween">
        <p>Altura</p>
        <p>234</p>
      </div>
      <div class="flexBetween">
        <p>Cintura</p>
        <p>123</p>
      </div>
      <div class="flexBetween">
        <p>Cadera</p>
        <p>123</p>
      </div>
      <div class="flexBetween">
        <p>Brazos</p>
        <p>123</p>
      </div>
      <div class="flexBetween">
        <p>Pecho</p>
        <p>123</p>
      </div>
      <div class="flexBetween">
        <p>Muslo</p>
        <p>123</p>
      </div>
    </div>
  </div>
</ion-content>
