<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="homeClient"></ion-back-button>
    </ion-buttons>
    <ion-title>Menu de la semana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="FlexCenter background">
    <div class="card ">
      <p class="flexJustifyCenter">DayNow</p>
      <ion-toolbar>
        <ion-segment [scrollable]="true" value="all">
          <ion-segment-button value="all">
            <ion-label>DESAYUNO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="favorites">
            <ion-label>ALMUERZO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="sdsd">
            <ion-label>COMIDA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="ffdf">
            <ion-label>MERIENDA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="wewew">
            <ion-label>CENA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="vcvcv">
            <ion-label>REGRIGERIO</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <div (click)="InformationRecipes()" class="MarginBotton">
        <div class="backgroundBlack">
          <h3 class="marginleft">RECIPES NAME</h3>
        </div>
        <div>
          <img class="ImgRicepesCad" src="./../../../assets/icon/Portada.png">
        </div>
      </div>
    </div>

    <div class="card Margin1">
      <p class="flexJustifyCenter">DayNow</p>
      <ion-toolbar>
        <ion-segment [scrollable]="true" value="all">
          <ion-segment-button value="all">
            <ion-label>DESAYUNO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="favorites">
            <ion-label>ALMUERZO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="sdsd">
            <ion-label>COMIDA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="ffdf">
            <ion-label>MERIENDA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="wewew">
            <ion-label>CENA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="vcvcv">
            <ion-label>REGRIGERIO</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <div class="MarginBotton">
        <div class="backgroundBlack">
          <h3 class="marginleft">RECIPES NAME</h3>
        </div>
        <div>
          <img class="ImgRicepesCad" src="./../../../assets/icon/Portada.png">
        </div>
      </div>
    </div>

    <div class="card Margin1">
      <p class="flexJustifyCenter">DayNow</p>
      <ion-toolbar>
        <ion-segment [scrollable]="true" value="all">
          <ion-segment-button value="all">
            <ion-label>DESAYUNO</ion-label>
          </ion-segment-button>
          
          <ion-segment-button value="sdsd">
            <ion-label>COMIDA</ion-label>
          </ion-segment-button>
          
          <ion-segment-button value="wewew">
            <ion-label>CENA</ion-label>
          </ion-segment-button>
          
        </ion-segment>
      </ion-toolbar>
      <div class="MarginBotton">
        <div class="backgroundBlack">
          <h3 class="marginleft">RECIPES NAME</h3>
        </div>
        <div>
          <img class="ImgRicepesCad" src="./../../../assets/icon/Portada.png">
        </div>
      </div>
    </div>

    <div class="card Margin1">
      <p class="flexJustifyCenter">DayNow</p>
      <ion-toolbar>
        <ion-segment [scrollable]="true" value="all">
          <ion-segment-button value="all">
            <ion-label>DESAYUNO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="favorites">
            <ion-label>ALMUERZO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="sdsd">
            <ion-label>COMIDA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="ffdf">
            <ion-label>MERIENDA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="wewew">
            <ion-label>CENA</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <div class="MarginBotton">
        <div class="backgroundBlack">
          <h3 class="marginleft">RECIPES NAME</h3>
        </div>
        <div>
          <img class="ImgRicepesCad" src="./../../../assets/icon/Portada.png">
        </div>
      </div>
    </div>

    <div class="card Margin1">
      <p class="flexJustifyCenter">DayNow</p>
      <ion-toolbar>
        <ion-segment [scrollable]="true" value="all">
          <ion-segment-button value="all">
            <ion-label>DESAYUNO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="favorites">
            <ion-label>ALMUERZO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="sdsd">
            <ion-label>COMIDA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="ffdf">
            <ion-label>MERIENDA</ion-label>
          </ion-segment-button>
          
        </ion-segment>
      </ion-toolbar>
      <div class="MarginBotton">
        <div class="backgroundBlack">
          <h3 class="marginleft">RECIPES NAME</h3>
        </div>
        <div>
          <img class="ImgRicepesCad" src="./../../../assets/icon/Portada.png">
        </div>
      </div>
    </div>

    <div class="card Margin1">
      <p class="flexJustifyCenter">DayNow</p>
      <ion-toolbar>
        <ion-segment [scrollable]="true" value="all">
          
          <ion-segment-button value="sdsd">
            <ion-label>COMIDA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="ffdf">
            <ion-label>MERIENDA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="wewew">
            <ion-label>CENA</ion-label>
          </ion-segment-button>
          <ion-segment-button value="vcvcv">
            <ion-label>REGRIGERIO</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <div class="MarginBotton">
        <div class="backgroundBlack">
          <h3 class="marginleft">RECIPES NAME</h3>
        </div>
        <div>
          <img class="ImgRicepesCad" src="./../../../assets/icon/Portada.png">
        </div>
      </div>
    </div>

    <div class="card Margin1">
      <p class="flexJustifyCenter">DayNow</p>
      <ion-toolbar>
        <ion-segment [scrollable]="true" value="all">
          <ion-segment-button value="all">
            <ion-label>DESAYUNO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="favorites">
            <ion-label>ALMUERZO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="vcvcv">
            <ion-label>REGRIGERIO</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <div class="MarginBotton">
        <div class="backgroundBlack">
          <h3 class="marginleft">RECIPES NAME</h3>
        </div>
        <div>
          <img class="ImgRicepesCad" src="./../../../assets/icon/Portada.png">
        </div>
      </div>
    </div>

    
    
  </div>
</ion-content>
