<ion-header id="elemtHeader">

  <div class="header">
    <ion-title>APPLICATION NAME</ion-title>
    <img class="ImgMenu" id="BtnMenu" src="./../../../assets/icon/menu.png">
  </div>
  <div id="modal" class="MenuModal">
    <div class="MenuModalContent">
      <div class="FlexInline" id="AddClient">
        <img class="ImgContact" src="./../../../assets/icon/AddUser.png">
        <h3 class="InformationContact color">AGREGAR CLIENTES</h3>
      </div>
      <div class="FlexInline" id="AddRecipes">
        <img class="ImgContact" src="./../../../assets/icon/AddFood.png">
        <h3 class="InformationContact color">AGREGAR RECETA</h3>
      </div>
      <div class="FlexInline" id="SeeRecipe">
        <img class="ImgContact" src="./../../../assets/icon/IconMenu.png">
        <h3 class="InformationContact color">RECETAS</h3>
      </div>
    </div>
  </div>
  <ion-modal [isOpen]="ModalOpen" #modal >
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>RECETAS</ion-title>
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="CloseModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <div class="Flex">
            <input id="InputSearch" class="InputSearch" placeholder="Buscar Receta" type="search">
            <div (click)="SearchRecipes()" class="DivImgSearch"><img id="BtnSearch" class="ImgSearch" src="./../../../assets/icon/search.png"></div>
          </div>
          <div id="ContentRecipes">
            @for (item of ArrayRecipes; track $index) {
              <ion-item-sliding>
                <ion-item button="true" (click)="InfomationRecipe(item)">
                  <h2>{{item.Name}}</h2>
                </ion-item>
                <ion-item-options slot="end">
                  <ion-item-option (click)="EditRecipe(item)" color="warning">
                    <ion-icon slot="icon-only" src="./../../../assets/icon/Edit.svg"></ion-icon>
                  </ion-item-option>
                  <ion-item-option (click)="DelateRecipe(item.IdRecipes)" color="danger" expandable="true">
                    <ion-icon slot="icon-only" src="./../../../assets/icon/Trash.svg"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            }
          </div>
        </ion-list>
        <div class="DivButtons margin1">
          <ion-button id="ModalRecipeBtnBack" (click)="BtnModalBack()" >Regresar</ion-button>
          <ion-button id="ModalRecipeBtnNext" (click)="BtnModalNext()" >Siguiente</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-header>
<ion-content>
  <main id="main">
    @if (Recents) {
    <div class="DivRecents">
      <h2>RECIENTES</h2>
      @for (UserRecents of RecentsUser; track $index) {
      <div (click)="InformationClient(UserRecents)" class="ContentContact">
        <img class="ImgContact" src="./../../../assets/icon/Avatar.png">
        <div class="InformationContact">
          <h5>{{UserRecents.Name}}</h5>
          <p>{{UserRecents.Phone}}</p>
        </div>
      </div>
      }
    </div>
    }
    <div class="DivContact">
      <h2>CLIENTES</h2>
      <div id="ContentShowClient">
        @for (User of Users; track $index) {
        <div (click)="InformationClient(User)" class="ContentContact">
          <img class="ImgContact" src="./../../../assets/icon/Avatar.png">
          <div class="InformationContact">
            <h5>{{User.Name}}</h5>
            <p>{{User.Phone}}</p>
          </div>
        </div>
        }
      </div>
    </div>

  </main>
  <div class="DivButtons">
    <ion-button id="BtnBack">Regresar</ion-button>
    <ion-button id="BtnNext">Siguiente</ion-button>
  </div>
  
</ion-content>

