.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.divlogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.imgLogo{
  width: 200px;
  height: 220px;
}
.divinputs{
  display: flex;
  width: 80%;
  flex-direction: column;
}
input{
  margin: 20px 0;
    border-radius: 20px;
    padding-left: 20px;
    border: 0px;
    background: #d9d8d8;
    color: black;
}

input,ion-button{
  height: 50px;
  font-size: 20px;
  
}

//footer
.ImgChat{
  position: fixed;
  width: 70px;
  height: 70px;
  right: 30px;
  bottom: 20px;
}
