<ion-content>
  <div class="main">
    <div class="divlogo" >
      <h1>APPLICATION NAME</h1>
      <img class="imgLogo" src="./../../assets/icon/Logo.png">
    </div>
    <div class="divinputs" >
      <input id="InputUser" placeholder="USUARIO" type="text">
      <input id="InputPassword" placeholder="CONTRASEÑA" type="password">
      <ion-button id="BtnLogin">INICIAR SESIÓN</ion-button>
    </div>
  </div>
</ion-content>
<ion-footer>
  <img class="ImgChat" (click)="presentAlert()" id="ButtonChat" src="./../../assets/icon/Chat.png">
</ion-footer>